<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!-- HomepageController -->
    <servlet>
        <servlet-name>HomepageController</servlet-name>
        <servlet-class>controllers.HomepageController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomepageController</servlet-name>
        <url-pattern>/homepage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomepageController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomepageController</servlet-name>
        <url-pattern>/messages</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomepageController</servlet-name>
        <url-pattern>/message</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomepageController</servlet-name>
        <url-pattern>/createMessage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomepageController</servlet-name>
        <url-pattern>/manageMessage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomepageController</servlet-name>
        <url-pattern>/deleteMessage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomepageController</servlet-name>
        <url-pattern>/removeUserFromMessage</url-pattern>
    </servlet-mapping>
    <!-- Management -->
    <servlet>
        <servlet-name>ManagementController</servlet-name>
        <servlet-class>controllers.ManagementController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManagementController</servlet-name>
        <url-pattern>/management</url-pattern>
    </servlet-mapping>
    <!-- User Management -->
    <servlet>
        <servlet-name>ManageUserController</servlet-name>
        <servlet-class>controllers.ManageUserController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManageUserController</servlet-name>
        <url-pattern>/users</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageUserController</servlet-name>
        <url-pattern>/users/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageUserController</servlet-name>
        <url-pattern>/users/new</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageUserController</servlet-name>
        <url-pattern>/users/delete</url-pattern>
    </servlet-mapping>
    <!-- Course Management -->
    <servlet>
        <servlet-name>ManageCourseController</servlet-name>
        <servlet-class>controllers.ManageCourseController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManageCourseController</servlet-name>
        <url-pattern>/courses</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageCourseController</servlet-name>
        <url-pattern>/courses/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageCourseController</servlet-name>
        <url-pattern>/courses/new</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageCourseController</servlet-name>
        <url-pattern>/courses/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageCourseController</servlet-name>
        <url-pattern>/enroll</url-pattern>
    </servlet-mapping>
        <servlet-mapping>
        <servlet-name>ManageCourseController</servlet-name>
        <url-pattern>/withdraw</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageCourseController</servlet-name>
        <url-pattern>/searchCourse</url-pattern>
    </servlet-mapping>
    <!-- Document Management -->
    <servlet>
        <servlet-name>ManageDocumentController</servlet-name>
        <servlet-class>controllers.ManageDocumentController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManageDocumentController</servlet-name>
        <url-pattern>/documents</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageDocumentController</servlet-name>
        <url-pattern>/uploadFiles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageDocumentController</servlet-name>
        <url-pattern>/deleteFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageDocumentController</servlet-name>
        <url-pattern>/changeFileVisibility</url-pattern>
    </servlet-mapping>
    <context-param>
        <description>Location to store uploaded file</description>
        <param-name>file-upload</param-name>
        <param-value>
            C:\Users\Martijn\Documents\
        </param-value>
    </context-param>
    <!-- Course -->
    <servlet>
        <servlet-name>CourseController</servlet-name>
        <servlet-class>controllers.CourseController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CourseController</servlet-name>
        <url-pattern>/courses/course</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseController</servlet-name>
        <url-pattern>/courses/virtualclassroom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseController</servlet-name>
        <url-pattern>/courses/tutorial</url-pattern>
    </servlet-mapping>
    <!-- News Item Management -->
    <servlet>
        <servlet-name>ManageNewsItemController</servlet-name>
        <servlet-class>controllers.ManageNewsItemController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManageNewsItemController</servlet-name>
        <url-pattern>/news</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageNewsItemController</servlet-name>
        <url-pattern>/news/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageNewsItemController</servlet-name>
        <url-pattern>/news/new</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageNewsItemController</servlet-name>
        <url-pattern>/news/delete</url-pattern>
    </servlet-mapping>
    <!-- ProfileHolder -->
    <servlet>
        <servlet-name>ProfileHolder</servlet-name>
        <servlet-class>controllers.ProfileHolder</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProfileHolder</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <!-- CV -->
    <servlet>
        <servlet-name>CV</servlet-name>
        <servlet-class>controllers.CV</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CV</servlet-name>
        <url-pattern>/cv</url-pattern>
    </servlet-mapping>
    <!--work experience-->
    <servlet>
        <servlet-name>ManageWork</servlet-name>
        <servlet-class>controllers.ManageWorkController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManageWork</servlet-name>
        <url-pattern>/work/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageWork</servlet-name>
        <url-pattern>/work/new</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageWork</servlet-name>
        <url-pattern>/work/delete</url-pattern>
    </servlet-mapping>
    <!-- project experience-->
    <servlet>
        <servlet-name>ManageProject</servlet-name>
        <servlet-class>controllers.ManageProjectController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManageProject</servlet-name>
        <url-pattern>/project/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageProject</servlet-name>
        <url-pattern>/project/new</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageProject</servlet-name>
        <url-pattern>/project/delete</url-pattern>
    </servlet-mapping>
    <!-- skill-->
    <servlet>
        <servlet-name>ManageSkill</servlet-name>
        <servlet-class>controllers.ManageSkillController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManageSkill</servlet-name>
        <url-pattern>/skill/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageSkill</servlet-name>
        <url-pattern>/skill/new</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageSkill</servlet-name>
        <url-pattern>/skill/delete</url-pattern>
    </servlet-mapping>
    <!-- education-->
    <servlet>
        <servlet-name>ManageEducation</servlet-name>
        <servlet-class>controllers.ManageEducationController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManageEducation</servlet-name>
        <url-pattern>/education/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageEducation</servlet-name>
        <url-pattern>/education/new</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageEducation</servlet-name>
        <url-pattern>/education/delete</url-pattern>
    </servlet-mapping>
    <!-- Search -->
    <servlet>
        <servlet-name>ManageSearch</servlet-name>
        <servlet-class>controllers.ManageSearchController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManageSearch</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageSearch</servlet-name>
        <url-pattern>/searchUser</url-pattern>
    </servlet-mapping>
    <!--debug-->
    <servlet>
        <servlet-name>Debug</servlet-name>
        <servlet-class>controllers.DebugController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Debug</servlet-name>
        <url-pattern>/Debug</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Debug</servlet-name>
        <url-pattern>/mineUserData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Debug</servlet-name>
        <url-pattern>/mineCourseData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Debug</servlet-name>
        <url-pattern>/createAdminUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Debug</servlet-name>
        <url-pattern>/createActivity</url-pattern>
    </servlet-mapping>
    <!-- VGA -->
    <servlet>
        <servlet-name>VGAController</servlet-name>
        <servlet-class>controllers.VGAController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VGAController</servlet-name>
        <url-pattern>/vga</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VGAController</servlet-name>
        <url-pattern>/doSweep</url-pattern>
    </servlet-mapping>
        <servlet-mapping>
        <servlet-name>VGAController</servlet-name>
        <url-pattern>/updatePeriodic</url-pattern>
    </servlet-mapping>
    <!-- Properties -->
    <servlet>
        <servlet-name>PropertiesController</servlet-name>
        <servlet-class>controllers.PropertiesController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PropertiesController</servlet-name>
        <url-pattern>/properties_edit</url-pattern>
    </servlet-mapping>
    <!-- i18n -->
    <servlet>
        <servlet-name>i18nController</servlet-name>
        <servlet-class>controllers.I18nController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>i18nController</servlet-name>
        <url-pattern>/i18n</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>i18nController</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>i18nController</servlet-name>
        <url-pattern>/applyTranslations</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
