<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>GebruikersController</servlet-name>
        <servlet-class>controllers.GebruikerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IndexController</servlet-name>
        <servlet-class>controllers.IndexController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GebruikerWijziging</servlet-name>
        <servlet-class>controllers.GebruikerWijzigController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GebruikerVerwijderen</servlet-name>
        <servlet-class>controllers.GebruikerVerwijderController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GebruikersController</servlet-name>
        <url-pattern>/gebruikers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IndexController</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GebruikerWijziging</servlet-name>
        <url-pattern>/gebruikers/nieuw</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GebruikerWijziging</servlet-name>
        <url-pattern>/gebruikers/wijzig</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GebruikerVerwijderen</servlet-name>
        <url-pattern>/gebruikers/verwijder</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
