.ActivityFeed{
    position:absolute;
    top: 20%;
    left:15%;
}
.ActivityFeedtable{
    width:700px;
    text-align:left;
    color: #ffffff;
    border-width: 2px;
    padding: 8px;
    border-style: solid;
    border-color: #000000;
    background-color: rgb(68,121,186);
}
.messageHeader{
    border-width: 2px;
    padding: 8px;
    border-style: solid;
    border-color: #000000;
    background-color: #ffffff;
    font-weight:bold;
}
.showMessages{
    border-width: 2px;
    padding: 8px;
    border-style: solid;
    border-color: #000000;
    background-color: #ffffff;
}
.ifRead{
    width:50px;
    text-align:center;
}
.messagefeed{
    width:500px;
}
.gotoMessage{
    width:50px;
}
.ProfileInformation{
    position:absolute;
    top:20%;
    left:3%;
    background-color:rgb(45,47,49);
}
.ProfilePictureHomepage{
    height:110px;
    width:200px;
    background-color:rgb(68,121,186);
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
}
.ProfileNameHomepage{
    text-align:center;
    color:#FFFFFF;
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
}
.ProfileRoleHomepage{
    text-align:center;
    font-style:italic;
    font-size:11px;
    color:#FFFFFF;
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
}
