/*
Author: Shahin Mokhtar
*/

html
{
    width: 100%;
    height: 100%;
    background-color:#dfebf5;
}
body
{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-family: "lucida sans", arial, sans-serif;
    padding: 0px;
    margin-top: 0px;
    font-size: .78em;
}
p
{
    margin: 5px;
    padding: 1px 1px 16px 0px;
    line-height: 1.7em;
}

h1, h2, h3, h4, h5, h6 
{ 
    font: normal 179% 'century gothic', arial, sans-serif;
    color: #43423F;
    margin: 0 0 15px 0;
    padding: 15px 0 5px 0;
}

h2
{ 
    font: normal 170% 'century gothic', arial, sans-serif;
    color: #0AB6F6;
}

h3
{ 
    font: normal 125% 'century gothic', arial, sans-serif;
    margin-left: 20px;
}

h4, h5, h6
{ 
    margin: 0;
    padding: 0 0 5px 0;
    font: normal 120% arial, sans-serif;
    color: #0AB6F6;
}

h5, h6
{ 
    font: italic 95% arial, sans-serif;
    color: #888;
}

h6
{ 
    color: #362C20;
}
#header
{
    width: 100%;
    height: 90px;
    margin-left: auto;
    margin-right: auto;
}
#main
{
    width: 80%;
    height:500px;
    margin-left: auto;
    margin-right: auto;
}
#main_left
{
    width: 60%;
    float: left;
}
#main_inner_left
{
    width: auto;
    float: left;
}
#main_inner_right
{
    width: auto;
    margin-left: 250px;
}
#main_right
{
    width: 35%;
    float: right;
    margin-left: 10px;
}
#footer
{
    width: 80%;
    height:100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}
.container
{
    height: 150px;
    border-style: solid;
    border-width: 1px;
    border-color: #888;
    margin-bottom: 20px;
}
/*
End author: Shahin Mokhtar
*/
ul{
    list-style-type:none;
    margin:45px 1px 40px 0px;
    text-align:center;
    word-spacing: 30px;
}
li {
    display:inline;
    word-spacing: 0px;
}
.Header{
    padding-top:1px;
    background-image: url('../images/Logo_Background.png');
    background-repeat:no-repeat;
    padding-bottom:1px;
}
.button {
    font-family:century gothic, arial sans-serif;
    padding: 8px 15px;
    background: #4479BA;
    color: #FFF;
    text-decoration: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: solid 1px #20538D;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(215, 235, 245, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
   box-shadow: 1px 1px 1px #000000;
}
.buttonLO{
    font-family:tahoma;
    padding: 8px 15px;
    background: #4479BA;
    color: #FFF;
    text-decoration: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #20538D;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(215, 235, 245, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
   box-shadow: 1px 1px 1px #000000;
 

}
.button:hover {
    background: #426C9B;
    border: solid 1px #2A4E77;
    text-decoration: none;
    box-shadow: 2px 1px 2px #000000;
   
}
.button:focus {
    text-decoration:underline;
}
