#main {
    width: 100%;
    height: auto;
    overflow-x: hidden;
}
#main_left {
    width: 180px;
    height: auto;
    margin-left: 25px;
    float: left;
    overflow-x: hidden;
}
#main_right {
    width: 82%;
    height: auto;
    float: right;
    margin-left:20px;
    margin-right: 25px;
    overflow-x: hidden;
}
#chatLeft {
    width: 80%;
    height: auto;
    float: left;
    overflow: hidden;
}
#userRight {
    width: 18%;
    height: auto;
    float: right;
    overflow: hidden;
}
#main_bot {
    width: 100%;
    height: auto;
    overflow:hidden;
}
.chatOutputStyle {
    width:100%;
    height:500px;
    overflow-x: hidden;
}
.chatInput {
    width: 73%;
    height: auto;
    float: left;
}
.chatSend {
    float: right;
    margin-right: 20%;
}
.buttonStyle {
    width: 100%;
}