#main {
    width: 100%;
    height: auto;
    overflow-x: hidden;
}
#main_left {
    width: 180px;
    height: auto;
    margin-left: 25px;
    float: left;
    overflow-x: hidden;
}
#main_right {
    width: 80%;
    height: auto;
    float: right;
    margin-right: 25px;
    overflow-x: hidden;
}
#chatLeft {
    width: 80%;
    height: auto;
    float: left;
    overflow: hidden;
}
#userRight {
    width: 18%;
    height: auto;
    float: right;
    overflow: hidden;
}
#main_bot {
    width: 100%;
    height: auto;
    overflow:hidden;
}

.users {
    width:100%;
    height:700px; 
    overflow-y: scroll;
    overflow-x: hidden;
}
.chatOutputStyle {
    width:100%;
    height:700px;
    overflow: scroll;overflow-x: hidden;
}
.chatInput {
    width: 80%;
    height: auto;
    float: left;
}
.chatSend {
    width: 18%;
    float: right;
    margin-right: 0px;
}
.buttonStyle {
    width: 100%;
}