.profileinformationtable123{
    width:120px;
    height:220px;
    text-align:center;
}
.scrollingTable {
       height: 200px;
       overflow: auto;
}
.TableHeader{
    text-align:left;
    font-weight: bold;
    width:850px;
}
.Date{
    width:100px;
    text-align:center;
}
.Message{
    width: 600px;
}
.ProfileInformation{
    background-color:rgb(34,34,34);
}
.ProfilePictureHomepage{
    background-color:rgb(34,34,34);
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
}
.ProfileNameHomepage{
    text-align:center;
    color:#FFFFFF;
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
}
.ProfileRoleHomepage{
    text-align:center;
    font-style:italic;
    font-size:11px;
    color:#FFFFFF;
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
}
.container_homepage {
    overflow: hidden;
    height: auto;
    border-style: solid;
    border-width: 1px;
    border-color: #888;
    margin-bottom: 20px;
}
#main {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
#main_left {
    width: 5%;
    margin-left: 2%;
    height: auto;
    float: left;
}
#main_right {
    width: 82%;
    margin-right: 2%;
    float: right;
    margin-left: 10px;
}