<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://31.186.175.82:3306/pdl2</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">jkad@asd;.Jajdl.</property>
    <!-- Enable Hibernate's automatic session context management -->
    <property name="current_session_context_class">thread</property>
    <!-- Echo all executed SQL to stdout -->
    <property name="show_sql">false</property>
    <!-- Drop and re-create the database schema on startup (values:create, update, none)  -->
    <property name="hbm2ddl.auto">update</property>
    <!-- mappings -->
    <mapping class="models.Activity"/>
    <mapping class="models.User"/>
    <mapping class="models.Work"/>
    <mapping class="models.Project"/>
    <mapping class="models.Skill"/>
    <mapping class="models.Education"/>
    <mapping class="models.Course"/>
    <mapping class="models.NewsItem"/>
    <mapping class="models.Chat"/>
    <mapping class="models.CourseSuggestion"/>
    <mapping class="models.File"/>
    <mapping class="models.Internationalization"/>
  </session-factory>
</hibernate-configuration>
